


body{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  padding: 0;
  /* background-color: #eff1f7; */
  color: #68686d;
  font-family: "Arial";
}

/* -------- HEADER -------- */
.header {
  grid-area: header;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px 0 25px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
  background-color: #545b8d;
  color:rgba(255, 255, 255);
  
}

/* -------- Question Container format -------- */
.questioncontainer {
  position: relative;
  width: 90%;
  left: 25px;
}

/* -------- Slider Container format -------- */
.slidecontainer {
  position: relative;
  width: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.slidecontainer {
  margin: auto;
}

/* -------- Slider value (numerito dentro de caja) -------- */
.slidecontainer output {
    margin-top: 0px;
    position: absolute;
    top: -15px;
    padding: 0.25em 0.5em 0.25em 0.5em;
    background: #1c2126;
    color: white;
    font-size: 0.8em;
}

.slidecontainer output:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #1c2126;
	border-width: 10px;
	margin-left: -10px;
}

/* -------- Slider min-max (debajo de barrita) -------- */
.slidecontainer .min-max {
	display: flex;
	justify-content: space-between;
	color: black;
}

/* -------- Slider barrita gris -------- */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #bebebe;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

/* -------- Slider bolita morada -------- */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #545b8d;
  cursor: pointer;
}

/* -------- ?? -------- */
.slider::-moz-range-thumb {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.btnSaveContainer {
  width: 75px;
  height: 45px;
}
.btnSaveContainer {
  margin: auto;
}

.btnSaveContainer .boton {
  background-color: #545b8d;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

    /*@media general*/

    @media (max-width: 640px) {
      body{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 15px;
        padding: 0;
        /* background-color: #eff1f7; */
        color: #68686d;
        font-family: "Arial";
      }
      .header {
        grid-area: header;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px 0 20px;
        box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
        background-color: #545b8d;
        color:rgba(255, 255, 255);
        font-size: 0.9em;
      }
      .questioncontainer {
        position: relative;
        width: 90%;
        left: 20px;
      }
      .slidecontainer {
        margin: auto;
        width: 80%;
      }
    }

